extends layout

block content
    h1= title
    div(class='image-list')
        ul
            each image in images
                li
                    div(class='image' style='background-image: url(screenshots/' + image.url + ');')
                    //img(src= 'screenshots/' + image.url)

    div(class="modal-overlay hidden")
    div(class="modal-content hidden")
        div(class="modal-image")
        div(class="modal-map")
            iframe(src="http://mc.swellserve.com/map")

block javascript
    script(src='js/app.js')
