extends layout

block content
    h1= title
    !{markup}

    div(class="modal-overlay hidden")
    div(class="modal-content hidden")
        div(class="modal-image")
        div(class="modal-map")
            iframe(src="/map")

block javascript
    script(src='/js/app.js')
