<h1>Upload File</h1>
<form method="POST" action="/screenshots" enctype="multipart/form-data">
    <input type="text" name="user">
    <input type="file" name="file">
    <input type="submit">
</form>
