* {
    box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #DDD;
}

a {
  color: #00B7FF;
}

.image-list {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.image-list ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.image-list ul li {
    float: left;
    width: 19%;
    padding-top: 19%;
    position: relative;
    margin: 0.5%;
    border: 4px solid #555;
    cursor: pointer;
}

.image-list ul li:hover {
    border: 4px solid #BEA051;
}

.image-list ul li > * {
    position: absolute;
    top: 0;
    left: 0;
}

.image {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 100;
}

.modal-content {
    margin: 0;
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    z-index: 101;
}

.modal-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 74%;
    margin: 0.5%;
    height: 100%;
    float: left;
}

.modal-map {
    float: left;
    width: 24%;
    height: 100%;
    margin: 0.5%;
}

.modal-map iframe {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1024px) {
    .image-list ul li {
        width: 32.33%;
        padding-top: 32.33%;
    }

    .modal-image, .modal-map {
        width: 100%;
        height: 49%;
        margin: 0.5%;
        margin: 0;
        display: block;
    }
}

@media only screen and (max-width: 512px) {
    .image-list ul li {
        width: 98%;
        padding-top: 98%;
        margin: 1%;
    }
}

@media only screen and (max-device-width: 512px) {
    body {
        padding: 10px;
    }
}